.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    border-radius: 30px;
    width: 250px;
    background: rgba(45, 192, 136, 0.952);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    padding: 5px;
    font-family: 'Patrick Hand', cursive;
    font-size: 25px;
    transition: all .3s ease;
}
.img{
    max-width: 250px;
    max-height: 350px;
    border-radius: 20px;
}

.link{
    text-decoration: none;
    color: #000;
}


.text{
    margin-top: 10px;
    text-decoration: none;
}

.container:hover{
    background: rgba(255, 131, 30, 0.767);
    border-radius: 10px;
}