.container {
    display: flex;
    flex-direction: column;
    background: url('https://wallpaperaccess.com/full/5841059.jpg');
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    border-top: 20px solid rgb(211, 211, 211);
    height: 700px;
}

.title {
    font-family: 'Sigmar One', cursive;
    color: #ff0;
    font-size: 50px;
    text-shadow: 0 10px 30px #000;
    margin: auto;
}

.form {
    background: rgba(255, 255, 255, 0.575);
    width: 500px;
    flex-direction: column;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 10px 30px #000;
    text-shadow: 0 20px 30px #000;
    padding: 15px;
    color: #000;
    font-size: 30px;
    border-radius: 50px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    font-family: 'DM Mono', monospace;
    font-size: 20px;
}

.contName {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.contNick {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.contOther {
    display: flex;
    flex-direction: column;
}

.input {
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #000;
    border-bottom: 1.5px solid #00ff00;
    transition: .3s;
}

.input:hover,
.input:focus {
    border-bottom: 1.5px solid #00ffdd;
}

.button {
    margin: auto;
    margin-top: 5px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.863);
    height: 90px;
    width: 90px;
    font-family: 'Dongle', sans-serif;
    font-size: 25px;
    transition: all .3s;
    color: #fff;
}

.button:hover {
    background: rgba(41, 41, 41, 0.863);
}

.link {
    text-decoration: none;
    color: #fff;
}

.contTemperament {
    display: flex;
    justify-content: center;
}

.remove {
    margin-top: 20px;
    background: #ff0;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    margin: 10px;
    border: 1px solid #000;
    box-shadow: 2px 5px #fff, 1px 1px #000;
}

.required {
    color: #ff0;
    font-family: 'DM Mono', monospace;
    font-size: 20px;
}

.remove:focus {
    box-shadow: none;
}

.noDogs {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: max-content;
    font-family: 'DM Mono', monospace;
    font-size: 20px;
    color: #000;
    font-size: 30px;
    border-radius: 10px;
}
